<section class="section horizontal-items" data-scroll-section>
    <div class="container">
        <div class="row row-1" data-scroll data-scroll-speed="-1" data-scroll-direction="horizontal">
            <div class="flex-col">
                <div class="horizontal-single-item">
                    <div class="overlay lazy" style="background-position: center center; background-repeat: no-repeat; background-size: cover;" data-bg="https://dennissnellenberg.com/assets/img/home-item-1.jpg"></div>
                </div>
            </div>
            <div class="flex-col">
                <div class="horizontal-single-item">
                    <div class="overlay playpauze"><video class="overlay lazy" src="assets\videoos\0915.mp4" loop muted playsinline></video></div>
                </div>
            </div>
            <div class="flex-col">
                <div class="horizontal-single-item">
                    <div class="overlay playpauze"><video class="overlay lazy" src="assets\videoos\0915(1).mp4" loop muted playsinline></video></div>
                </div>
            </div>
            <div class="flex-col">
                <div class="horizontal-single-item">
                    <div class="overlay playpauze"><video class="overlay lazy" src="assets\videoos\0915(3).mp4" loop muted playsinline></video></div>
                </div>
            </div>
        </div>
        <div class="row row-2" data-scroll data-scroll-speed="1" data-scroll-direction="horizontal">
            <div class="flex-col">
                <div class="horizontal-single-item">
                    <div class="overlay playpauze"><video class="overlay lazy" src="assets\videoos\0915(4).mp4" loop muted playsinline></video></div>
                </div>
            </div>
            <div class="flex-col">
                <div class="horizontal-single-item">
                    <div class="overlay playpauze"><video class="overlay lazy" src="assets\videoos\0915(5).mp4" loop muted playsinline></video></div>
                </div>
            </div>
            <div class="flex-col">
                <div class="horizontal-single-item">
                    <div class="overlay playpauze"><video class="overlay lazy" src="assets\videoos\0915(6).mp4" loop muted playsinline></video></div>
                </div>
            </div>
            <div class="flex-col">
                <div class="horizontal-single-item">
                    <img class="overlay lazy" src="assets\videoos\ppp11.png"></img>
                </div>
            </div>
        </div>
    </div>
</section>