<section
  class="section single-block block-device block_1 block-padding-bottom"
  style="background-color: #101010"
  data-scroll-section
>
  <div class="container">
    <div class="row device-nodevice">
      <div class="flex-col">
        <div class="device">
          <div class="single-image">
            <img
              class="overlay lazy"
              data-scroll
              data-scroll-speed="-1"
              src="asets\cs\e3.png"
            />
            <img class="overlay overlay-image-top lazy" data-src="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="section single-block block-device block_1 block-padding-bottom"
  style="background-color: #101010"
  data-scroll-section
>
  <div class="container">
    <div class="row device-nodevice">
      <div class="flex-col">
        <div class="device">
          <div class="single-image">
            <img
              class="overlay lazy"
              data-scroll
              data-scroll-speed="-1"
              src="asets\cs\b1.jpg"
            />
            <img class="overlay overlay-image-top lazy" data-src="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="section single-block block-device block_1 block-padding-bottom"
  style="background-color: #101010"
  data-scroll-section
>
  <div class="container">
    <div class="row device-nodevice">
      <div class="flex-col">
        <div class="device">
          <div class="single-image">
            <img
              class="overlay lazy"
              data-scroll
              data-scroll-speed="-1"
              src="asets\cs\w1.jpg"
            />
            <img class="overlay overlay-image-top lazy" data-src="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
