<div class="" style="padding-top: 100px;">
    <div>Freelance 3D Artist
        
        Created detailed 3D models and animations for various projects, enhancing client visuals and product presentations.
        Collaborated with the design team to deliver high-quality renders that align with the project vision and branding.
        Utilized industry-standard software like Blender, Maya, and Adobe Suite to bring concepts to life.
        Managed project timelines, delivering on tight deadlines while maintaining a strong focus on creativity and precision.
        Provided input on technical feasibility, ensuring smooth integration with other media formats.
        </div>
    </div>
</div>